<header class="main-header">    
    <a href="/">
        <img src="img/ultra.png" alt="Ultra" />
    </a>
</header>

<style>
    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--main-color);
        padding: 1rem;
    }

    .main-header a {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    .main-header img {
        width: 100%;
        height: 100%;
        padding: 0.25rem;
        border-radius: 50%;
        background: white;
    }

    .main-header a:hover img {
        transform: scale(1.1);
    }
</style>